@{
    ViewBag.Title = "Agregar Deportista";
}

<div class="container mt-5">
    <h2>Agregar Nuevo Deportista</h2>
    <form action="@Url.Action("GuardarDeportista", "Home")" method="post">
        <div class="form-group mb-3">
            <label for="Nombre">Nombre</label>
            <input type="text" class="form-control" id="Nombre" name="Nombre" required />
        </div>

        <div class="form-group mb-3">
            <label for="Apellido">Apellido</label>
            <input type="text" class="form-control" id="Apellido" name="Apellido" required />
        </div>

        <div class="form-group mb-3">
            <label for="FechaDeNacimiento">Fecha de Nacimiento</label>
            <input type="date" class="form-control" id="FechaDeNacimiento" name="FechaNacimiento" required />
        </div>

        <div class="form-group mb-3">
            <label for="Foto">URL de la Foto</label>
            <input type="text" class="form-control" id="Foto" name="Foto" required />
        </div>

        <div class="form-group mb-3">
            <label for="idPais">País</label>
            <select class="form-select" id="idPais" name="idPais" required>
                <option selected disabled>Seleccione un país</option>
                @foreach (var pais in ViewBag.ListaPaises)
                {
                    <option value="@pais.idPais">@pais.Nombre</option>
                }
            </select>
        </div>

        <div class="form-group mb-3">
            <label for="idDeporte">Deporte</label>
            <select class="form-select" id="idDeporte" name="idDeporte" required>
                <option selected disabled>Seleccione un deporte</option>
                @foreach (var deporte in ViewBag.ListaDeportes)
                {
                    <option value="@deporte.idDeporte">@deporte.Nombre</option>
                }
            </select>
        </div>

        <button type="submit" class="btn btn-primary">Guardar Deportista</button>
    </form>
</div>
